<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="Angular12Factory.js"></script>
<script src="Angular12Controller.js"></script>
<body>

<div ng-app="invoice1" ng-controller="InvoiceController as invoice">

<label for="Quantity">Quantity</label>
<input type="text" name="Quantity" min="0" id="Quantity" ng-model="invoice.qty" required><br>

<label for="cost">COST</label>
<input type="text" name="cost" min="0" id="cost" ng-model="invoice.cost" required><br>
 
<select ng-model="invoice.inCurr">

<option ng-repeat="c in invoice.currencies">{{c}}</option>

</select>

<div>Total:

<span ng-repeat="c in invoice.currencies">{{invoice.total(c) | currency:c}}</span>
<button class="btn" ng-click="invoice.pay()">Pay</button>
</div>
</div>
</body>
</html>